@mixin fontNunito($size, $weight){
  font-family: 'Nunito', sans-serif;
  font-size: $size;
  font-weight: $weight;
}

@mixin borderRadius($size) {
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
}