@import 'base/variables';
@import 'base/mixins';
@import 'base/colors';
@import 'base/animate';

@import 'vendors/fonts';
@import 'vendors/material-icons';
@import 'vendors/keen-ui';
@import 'vendors/bootstrap';

@import 'layout/layout';
@import 'layout/sidebar';
@import 'layout/main';
@import 'layout/header-user';
@import 'layout/header-section';

// @import 'components/header';
@import 'components/head';

@import 'pages/sign';
@import 'pages/tesis';

.bgTransition{  
  // -webkit-animation-duration: .4s;
  //         animation-duration: .4s;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 60px;
  //  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 0;
  // width: 100%;
  // height: 100%;
  background-color: #F4F5F7;
  // transition: all .45s cubic-bezier(.23,1,.32,1);
  &.content_empty{
    padding-top: 60px;
  }
}
@media (min-width: 768px) {
  .bgTransition{
    left: 60px;
  }
  .content-main{
    &.activeResize{
      .bgTransition{
        left: 0
      }
    }
  }
}
@media (min-width: 992px) {
  .bgTransition{
    left: 180px;
  }
  .content-main{
    &.activeResize{
      .bgTransition{
        left: 0
      }
    }
  }
}